* {
    background-color: lightsteelblue;
    font-family: Helvetica, sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header__photo {
    width: 120px;
    height: 150px;
}

.header__title1 {
    font-size: 50px;
    position: relative;
    bottom: 50px;
    display: inline;
}

.header__title2 {
    font-size: 20px;
    position: relative;
    right: 300px;
    display: inline;
}

.button {
    display:inline;
    font-family: cursive;

}
    .box_shadow {
    box-shadow: inset 5px 5px 10px red;
}
.first__text {
    color: darkred;
    font-size: 25px;
    width: 60%;
    float: left;
    margin-bottom: auto;
}

.formular {
    background-color: crimson;
    text-align: center;
    margin-top: 40px;
}

.formular {
    font-size: 30px;
}

form {
    font-size: 30px;
    text-align: center;
}

input {
    size: 30px;
    font-family: "Fira Code";
}

.right__text {
    float: left;
    display: inline;
    width: 40%;
    margin-bottom: 150px;
}

.list__projects {
    color: seagreen;
    text-align: center;
    font-size: 25px;
    list-style-type: none;
}

.link {
    list-style-type: none;
    font-size: 25px;
    text-align: center;

}

.container__footer {
    bottom: 0;
    clear: both;
    text-align: center;
    background-color: darkorange;

}

.under_constr {
    content: url('../images/under-construction-2408061_960_720.png');

}

