* {
    background-color: lightsteelblue;
    font-family: Helvetica, sans-serif;
}

#container {
    width: 1000px;
    margin: auto;
}

.foto {
    width: 120px;
    height: 150px;
}

p {
    display: inline;
}

h1 {
    font-size: 60px;
    display: inline;
    position: relative;
    bottom: 50px;
}

h2 {
    font-size: 30px;
    display: inline;
    position: relative;
    right: 370px;
}

article {
    color: darkred;
    font-size:25px;
    width: 60%;
    float: left;
    margin-bottom: 150px;
}

#right {
    float: left;
    display: inline;
    width: 40%;
    text-align: center;
    margin-bottom: 150px;
}

section > p {
    font-size: 25px;
}
ul {
    color: seagreen;
    font-size:25px;
}
ul li {
    list-style-type: none;
    font-size:25px;
}

footer > div {
    clear: both;
    text-align: center;
    background-color: darkorange;
}