* {
    background-color: lightsteelblue;
    font-family: Helvetica, sans-serif;
}

#container {
    width: 1000px;
    margin: auto;
}

.foto {
    width: 120px;
    height: 150px;
}
header {
    display:block;
}

header h1 {
    font-size: 60px;
}

header h2 {
    font-size: 30px;
}
article{
    color: darkred;
    font-size:25px;
}
section {
    width:300px;
    text-align: center;
    200px;
    50px;
    border: solid;
}
ul {
    color: seagreen;
    font-size:25px;
}
ul li {
    list-style-type: none;
    font-size:25px;
}
footer div {
    text-align: center;
    width:99%;
    bottom: 0;
    background-color: darkorange;
}